registry=http://localhost:4873/
//localhost:4873/:_authToken=MzdmZWE0ZWNiZGVlMzczNDIxZmNjNGIzOWZhNmJiYzA6M2ZmZDAzNzQyYjcwZjUzZjM0ZDBmZmMwNWRjMGNmOWM=

strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true